:host {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

a {
  display: inline-block;
  padding: .6rem 1rem;
  font-size: .9rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .3);
  transition: var(--transition-fast);
  opacity: .7;

  &:hover {
    background-color: rgba(255, 255, 255, .4);
    box-shadow: var(--box-shadow-focused);
    transform: var(--transform-focused);
    opacity: 1;
  }
}
