<!-- Section: Intro -->
<section id="intro">
  <div class="wrapper panel fancy intro">
    <div>
      <header>
        <h1>Settings</h1>
        <h2>We take your privacy seriously and we limit what we store.</h2>
      </header>
    </div>
    <div>
      <span class="material-symbols-outlined panel-icon">settings</span>
    </div>
  </div>
</section>

<section>
  <div class="wrapper panel content">
    <header>
      <h1>Change Your Settings</h1>
    </header>
    <div>
      <div class="option">
        <div>
          <h1>Enable Cookies/Storage</h1>
          <p>If set, we can use your local storage and/or cookies to make changes to how you use this site. For example,
            enabling dark mode.</p>
        </div>
        <div>
          <st-switch
              [(checked)]="enableStorage"
              (checkedChange)="onStateChanged('st-cookies-accepted')"></st-switch>
        </div>
      </div>
      <div class="option" [ngClass]="{'disabled': !enableStorage()}">
        <div>
          <h1>Enable Dark Mode</h1>
          <p>Enable or disable dark mode, site wide.</p>
        </div>
        <div>
          <st-switch
              [(checked)]="enableDarkMode"
              (checkedChange)="onStateChanged('st-dark-mode-enabled')"></st-switch>
        </div>
      </div>
      <div class="option" [ngClass]="{'disabled': !enableStorage()}">
        <div>
          <h1>Enable Tracking</h1>
          <p>Enable or disable anonymous tracking, we use this to improve the website.</p>
        </div>
        <div>
          <st-switch
              [(checked)]="enableTracking"
              (checkedChange)="onStateChanged('st-enable-tracking')"></st-switch>
        </div>
      </div>
      <div class="option" [ngClass]="{'disabled': !enableStorage()}">
        <div>
          <h1>Enable Alerts</h1>
          <p>Enable or disable alerts from showing up in your browser window.</p>
        </div>
        <div>
          <st-switch
              [(checked)]="enableAlerts"
              (checkedChange)="onStateChanged('st-enable-alerts')"></st-switch>
        </div>
      </div>
    </div>
  </div>
</section>