.option {
  border: #ccc 1px solid;
  padding: 2rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;

  > div:nth-of-type(1) {
    flex: 1;
    gap: 2rem;
  }

  h1, p {
    margin: 0;
  }

  h1 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
    opacity: .6;
    margin-top: .5rem;
  }

  st-switch {
    margin: 1rem 0;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5;
  }
}