.popup-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  z-index: 999999999999999999999999;

  @media screen and (min-width: 800px) {
    padding: 1rem;
    background-color: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
  }

  .close {
    display: none;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: rgba(0, 0, 0, .1);
    }

    @media screen and (max-width: 800px) {
      height: calc(var(--nav-bar-height) - 20px);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      font-size: 70px;
      color: var(--color-white);
    }
  }

  .popup {
    border-radius: 12px;
    overflow: hidden;
    width: auto;
    min-width: 100px;

    @media screen and (max-width: 800px) {
      border-radius: 30px 30px 0 0;
      display: flex;
      flex: 1;
      width: 100vw;
    }
  }

  * {
    box-sizing: border-box;
  }
}
