:host {
  @media screen and (min-width: 805px) {
    width: 750px !important;
    min-height: 470px;
  }

  article {
    p {
      font-size: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 1rem;

      li {
        display: flex;
        align-items: center;
        padding: .2rem 0;
      }

      li:before {
        font-family: 'Material Icons', serif;
        content:"\e86c";
        font-size: 1.5rem;
        padding-right: .6rem;
        color: var(--color-orange);
        overflow: hidden;
      }
    }
  }
}