:host {
  all: initial;
  font: inherit;

  .widget, .row {
    display: block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--color-hint-second);
    transition: var(--transition-fast);
    color: var(--text-color);

    &:hover {
      transform: var(--transform-focused-slight);
      box-shadow: var(--box-shadow-focused);
      background-color: var(--color-hint-first);

      .thumbnail-container > div {
        opacity: 1;
      }
    }
  }

  .widget {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;

    * {
      padding: 0;
      margin: 0;
    }

    .header {
      position: relative;

      .thumbnail-container {
        height: 241px;
        background-color: #111;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        overflow: hidden;

        > div {
          height: 100%;
          width: 100%;
          background-size: cover;
          background-position: center;
          opacity: .95;
        }
      }

      .tag {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 999;
        background: linear-gradient(90deg, rgba(255,61,0,1) 0%, rgba(255,61,0,0) 50%);
        padding: .6rem 2rem;
        width: 100%;
        color: white;
        font-size: .9rem;
      }
    }

    .body {
      background-color: var(--color-hint-first);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .description {
      display: flex;
      padding: 2rem;
      gap: 2rem;
      flex: 1;

      > div:nth-of-type(1) {
        flex: 1;
      }

      > div:nth-of-type(2) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      h1 {
        font-size: 1.1rem;
      }

      h2 {
        font-size: .9rem;
        opacity: .5;
        font-weight: normal;
        margin-top: 1rem;
      }

      .provider-logo {
        width: 80px;
        height: auto;
        float: right;
        margin: 0 0 1.5rem 1.5rem;
      }

      st-contributor-avatar {
        max-width: 40px;
      }
    }

    .footer {
      background: #f0f0f0;
      padding: .7rem 2rem;
      text-align: left;
      font-size: .8rem;
      cursor: default;
      box-shadow: inset 0 4px 8px -3px rgba(0, 0, 0, .05);

      st-contributor-avatar {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-right: .5rem;
        cursor: pointer;
        display: inline-block;
      }
    }
  }

  .row {
    display: flex;
    width: 100%;
    overflow: hidden;
    gap: .5rem;

    > div {
      display: flex;
      align-items: center;
      padding: .5rem;

      &:nth-of-type(1) {
        background-color: var(--color-hint-third);

        img {
          width: 100px !important;
          position: static !important;
          height: auto !important;
        }
      }

      &:nth-of-type(2) {
        flex: 1;

        h1, h2 {
          padding: 0;
          margin: 0;
        }

        h1 {
          font-size: 1rem;
        }

        h2 {
          font-size: .8rem;
          font-weight: normal;
        }
      }

      &:nth-of-type(3) {
        background-color: var(--color-orange);
        color: var(--color-white);
        font-size: 1rem;
        flex-basis: 130px;
        padding: 0 1rem;
      }
    }
  }
}
