<header>
  <div>
    <span class="material-symbols-outlined">settings</span>
    <h1>Choose a SYCL Compiler</h1>
  </div>
</header>

<main>
  <div class="content">
    <div class="info">
      SYCL is a fully open standard that anyone can implement and support. Below is a list of the SYCL compilers that
      you can use on the playground.
    </div>

    <ul class="compilers">
      @for (compiler of supportedCompilers(); track compiler.tag) {
        <li [class]="{'disabled': !compiler.enabled, 'selected': isSelected(compiler)}"
            (click)="onSelectCompiler(compiler)">
          <div>
            @if (selectedCompiler(); as selectedCompiler) {
              @if (compiler.tag == selectedCompiler.tag) {
                <div class="tick">
                  <span class="material-symbols-outlined">check</span>
                </div>
              }
            }
            @if (!compiler.enabled) {
              <div class="coming-soon">Coming Soon!</div>
            }
            <div class="logo-container">
              <img [ngSrc]="compiler.logo" alt="{{ compiler.name }} Logo" fill />
            </div>
            <p [innerHTML]="compiler.description"></p>
          </div>
        </li>
      }
    </ul>
  </div>
</main>
