:root {
  --color-orange: #FF3D00;
  --color-blue: #0e0032;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #a1a1a1;

  --color-light-grey-100: #efefef;
  --color-light-grey-200: #e3e3e3;
  --color-light-grey-300: #d4d4d4;
  --color-light-grey-400: #c9c9c9;
  --color-light-grey-500: #b9b9b9;

  --color-dark-grey: #292e32;
  --color-dark-grey-100: #262a2e;
  --color-dark-grey-200: #1f2326;
  --color-dark-grey-300: #1d2024;
  --color-dark-grey-400: #1a1d21;
  --color-dark-grey-500: #171a1d;
}
