/**
 * Colors for Light Mode.
 */
:root {
  // Theme colors
  --color-hint-first: var(--color-white);
  --color-hint-second: var(--color-light-grey-100);
  --color-hint-third: var(--color-light-grey-200);
  --color-hint-fourth: var(--color-light-grey-300);
  --color-hint-fith: var(--color-light-grey-400);
  --color-hint-sixth: var(--color-light-grey-500);
  --color-hint-seventh: var(--color-grey);

  // Top Level
  --background-color: var(--color-hint-third);
  --popup-bg-color: var(--color-hint-first);

  // Font styling
  --font-bold: 500;
  --text-color: var(--color-dark-grey-400);

  // Sections
  --section-bg-color-primary: var(--color-hint-fourth);
  --section-bg-color-alt: var(--background-color);

  // Panels
  --panel-bg-color: var(--color-hint-second);

  // Control Coloring
  --color-control-default: var(--color-hint-fith);
  --color-control-hover: var(--color-hint-seventh);
  --color-control-active: var(--color-orange);

  // Animations/Transitions
  --transition-fast: .3s all;
  --border-radius: 12px;

  // Focused Elements
  --box-shadow-focused: 2px 2px 10px 0 rgba(0, 0, 0, .15);
  --transform-focused: scale(1.03);
  --transform-focused-slight: scale(1.024);
  --transform-focused-greater: scale(1.1);

  // Border
  --border-color: var(--color-hint-fith);
  --border-default: var(--border-color) 1px solid;
}

/**
 * Colors for Dark Mode.
 */
:root {
  .dark-mode {
    // Theme colors
    --color-hint-first: var(--color-dark-grey);
    --color-hint-second: var(--color-dark-grey-100);
    --color-hint-third: var(--color-dark-grey-200);
    --color-hint-fourth: var(--color-dark-grey-300);
    --color-hint-fith: var(--color-dark-grey-400);
    --color-hint-sixth: var(--color-dark-grey-500);
    --color-hint-seventh: var(--color-dark-grey-500);

    // Top Level
    --background-color: var(--color-hint-third);
    --popup-bg-color: var(--color-hint-first);

    // Font styling
    --text-color: var(--color-light-grey-100);

    // Sections
    --section-bg-color-primary: var(--color-hint-fith);
    --section-bg-color-alt: var(--color-hint-fourth);

    // Panels
    --panel-bg-color: var(--color-hint-third);

    // Control Coloring
    --color-control-default: var(--color-hint-second);
    --color-control-hover: var(--color-hint-first);
    --color-control-active: var(--color-orange);

    // Border
    --border-color: var(--color-hint-fith);
    --border-default: var(--border-color) 1px solid;
  }
}
