table {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;

  td, th {
    padding: 1.2rem;
  }

  thead {
    tr {
      background-color: var(--color-orange);
      color: var(--color-white);

      th {
        text-align: left;
      }
    }
  }

  tr td:first-of-type {
    font-weight: bold;
  }
}
