:host {
  section#what-we-store {
    table {
      width: 100%;

      td, th {
        padding: 1.2rem;
      }

      thead {
        tr {
          background-color: var(--color-orange);
          color: var(--color-white);

          th {
            text-align: left;
          }
        }
      }
    }
  }
}
