<!-- Section: Intro -->
<section id="intro">
  <div class="wrapper panel fancy intro">
    <div>
      <header>
        <h1>Cookies / Storage Policy</h1>
        <h2>We sometimes use cookies and local storage to improve the performance and functionality of our site.</h2>
        <a class="button" (click)="onStorageAcceptance()">
          <span class="material-symbols-outlined">cookie</span>Change Storage Acceptance
        </a>
      </header>
    </div>
    <div>
      <span class="material-symbols-outlined panel-icon">cookie</span>
    </div>
  </div>
</section>

<!-- Section: What We Store -->
<section id="what-we-store">
  <div class="wrapper panel content">
    <header>
      <div>
        <h1>What We Store</h1>
      </div>
    </header>
    <div>
      <table>
        <thead>
        <tr>
          <th>Cookie Name</th>
          <th>Whats It For?</th>
          <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>st-dark-mode-enabled</td>
          <td>Used to store the enabled state of dark more across the website.</td>
          <td>
            <div class="tag">1st Party Cookie</div>
          </td>
        </tr>
        <tr>
          <td>st-cookies-accepted</td>
          <td>Used to store the state of cookie/storage acceptance.</td>
          <td>
            <div class="tag">1st Party Cookie</div>
          </td>
        </tr>
        <tr>
          <td>st-enable-tracking</td>
          <td>Used to allow or disable our anonymous analytics tracking.</td>
          <td>
            <div class="tag">1st Party Cookie</div>
          </td>
        </tr>
        <tr>
          <td>st-playground-saved</td>
          <td>Used by the playground to allow the saving and loading of code.</td>
          <td>
            <div class="tag">1st Party Cookie</div>
          </td>
        </tr>
        <tr>
          <td>st-playground-compiler-tag</td>
          <td>Used by the playground to set which compiler to use when building.</td>
          <td>
            <div class="tag">1st Party Cookie</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
