<!-- Section: Intro -->
<section id="intro">
  <div class="wrapper panel fancy intro">
    <div>
      <header>
        <h1>Privacy Policy</h1>
        <h2>We take your privacy seriously and we limit what we store.</h2>
      </header>
    </div>
    <div>
      <span class="material-symbols-outlined panel-icon">health_and_safety</span>
    </div>
  </div>
</section>

<!-- Section: Contact Details -->
<section id="contact-details">
  <div class="wrapper panel content">
    <header>
      <div>
        <h1>Contact Details</h1>
      </div>
    </header>
    <div>
      <ul>
        <li>
          <div>Name</div>
          <div>Codeplay Software Ltd</div>
        </li>
        <li>
          <div>Email Address</div>
          <div>{{ contactEmailAddress }}</div>
        </li>
        <li>
          <div>Address</div>
          <div>Level C, Argyle House, 3 Lady Lawson Street, Edinburgh, EH3 9DR</div>
        </li>
        <li>
          <div>Phone Number</div>
          <div>(+44) 131 466 0503</div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Section: Policy -->
<section id="policy">
  <div class="wrapper panel content">
    <header>
      <div>
        <h1>Our Policy</h1>
      </div>
    </header>
    <div>
      <h2>The type of personal information we collect</h2>

      <p><b>We currently collect and process the following information:</b></p>

      <ul>
        <li>Personal identifiers including name and email address.</li>
      </ul>

      <h2>How we get the personal information and why we have it</h2>

      <p><b>All the personal information we process is provided to us directly by you for one of the following
        reasons:</b></p>

      <ul>
        <li>Contact support requests using our support form.</li>
      </ul>

      <p>We use the information that you have given us in order to accurately understand your query and provide a
        response.</p>

      <p>We may share this information with our consortium members and partners.</p>

      <p><b>Under the UK General Data Protection Regulation (UK GDPR), the lawful bases we rely on for processing this
        information are:</b></p>

      <p>(a) Your consent. You are able to remove your consent at any time. You can do this by contacting
        <a href="mailto:{{ contactEmailAddress }}">{{ contactEmailAddress }}</a></p>

      <h2>How we store your personal information</h2>

      <p>Your information is securely stored.</p>

      <p> We keep your email address, name and query for period of 12 months. We will then dispose your information by
        deleting any reference to that data.</p>

      <h2>Anonymous Analytics</h2>

      <p>We want to process as little personal information as possible when you use our website. That's why we've chosen
        Fathom Analytics for our website analytics, which doesn't use cookies and complies with the GDPR, ePrivacy
        (including PECR), COPPA and CCPA. Using this privacy-friendly website analytics software, your IP address is
        only briefly processed, and we (running this website) have no way of identifying you. As per the CCPA, your
        personal information is de-identified. You can read more about this on Fathom Analytics' website.</p>

      <p>The purpose of us using this software is to understand our website traffic in the most privacy-friendly way
        possible so that we can continually improve our website and business. The lawful basis as per the GDPR is
        "Article 6(1)(f); where our legitimate interests are to improve our website and business continually." As per
        the explanation, no personal data is stored over time.</p>

      <h2>Where your information is stored</h2>

      <p>Your information will be stored on the following platforms:</p>

      <ul>
        <li>Formspree</li>
        <li>Microsoft Office 365</li>
        <li>JIRA</li>
      </ul>

      <h2>Your data protection rights</h2>

      <p><b>Under data protection law, you have rights including:</b></p>

      <ul>
        <li>
          <p><b>Your right of access</b></p>
          <p>You have the right to ask us for copies of your personal information.</p>
        </li>
        <li>
          <p><b>Your right to rectification</b></p>
          <p>You have the right to ask us to rectify personal information you think is inaccurate. You also have the
            right to ask us to complete information you think is incomplete.</p>
        </li>
        <li>
          <p><b> Your right to erasure</b></p>
          <p>You have the right to ask us to erase your personal information in certain circumstances.</p>
        </li>
        <li>
          <p><b>Your right to rectification</b></p>
          <p>You have the right to ask us to rectify personal information you think is inaccurate. You also have the
            right to ask us to complete information you think is incomplete.</p>
        </li>
        <li>
          <p><b>Your right to restriction of processing</b></p>
          <p>You have the right to ask us to restrict the processing of your personal information in certain
            circumstances.</p>
        </li>
        <li>
          <p><b>Your right to object to processing</b></p>
          <p>You have the right to object to the processing of your personal information in certain circumstances.</p>
        </li>
        <li>
          <p><b>Your right to data portability</b></p>
          <p>You have the right to ask that we transfer the personal information you gave us to another organisation, or
            to you, in certain circumstances.</p>
        </li>
      </ul>

      <p>You are not required to pay any charge for exercising your rights. If you make a request, we have one month to
        respond to you.</p>

      <p>Please contact us at <a href="mailto:{{ contactEmailAddress }}">{{ contactEmailAddress }}</a> if you wish to
        make a request.</p>

      <h2>How to complain</h2>

      <p>If you have any concerns about our use of your personal information, you can make a complaint to us at
        <a href="mailto:{{ contactEmailAddress }}">{{ contactEmailAddress }}</a>.</p>

      <p>You can also complain to the ICO if you are unhappy with how we have used your data.</p>

      <h2>The ICO's address:</h2>

      <address>
        Information Commissioner’s Office<br/>
        Wycliffe House<br/>
        Water Lane<br/>
        Wilmslow<br/>
        Cheshire<br/>
        SK9 5AF<br/>
        Helpline number: 0303 123 1113
      </address>

      <p>ICO website: <a href="https://www.ico.org.uk" target="_blank" rel="noopener">https://www.ico.org.uk</a></p>
    </div>
  </div>
</section>

