.warning {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  opacity: .5;
  padding: 0 2rem;

  span {
    font-size: 60px;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.4rem;
    margin-top: 0;
  }

  p {
    font-size: 1rem;
  }
}

a.button {
  width: 100%;
  text-align: center;
  background-color: var(--color-blue);

  &.cancel {
    background-color: var(--color-grey);
  }
}
