@import 'side-header';

:host {
  > header {
    padding: 0;
    color: var(--text-color);
    background: #FFE0D2;

    :host-context(.dark-mode) & {
      background: var(--color-orange);
    }

    .title {
      flex: 1;
      padding: 3rem;

      &.centered {
        align-items: center;
      }

      @media screen and (min-width: 800px) {
        padding: 4rem 3rem;
      }
    }


    .author {
      width: 100%;
      padding: 1rem 3rem;
      border-top: rgba(0, 0, 0, .08) 1px solid;
      background: rgba(0, 0, 0, .05);

      st-contributor-avatar {
        width: 32px;
        height: 32px;
        display: inline-flex;
        vertical-align: middle;
        margin-right: .5rem;
      }
    }
  }
}
