:host {
  display: block;
  height: auto;
  overflow: hidden;

  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .state {
      position: absolute;
      right: 2rem;
      top: 2rem;
      z-index: 9999;
      opacity: .7;
    }

    .scroll-panel {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background: linear-gradient(90deg, rgb(10, 0, 66) 0%, #4d0000 100%);

      .bg {
        animation: none;
        opacity: .6;
      }

      &.spacer {
        position: static;
      }

      &:not(.spacer) {
        &:nth-of-type(2) {
          z-index: 1;
        }

        &:nth-of-type(3) {
          left: 100%;
          top: 0;
          animation: slide 0.5s forwards;
          animation-fill-mode: forwards;
          z-index: 2;
        }

        header {
          position: relative;

          h2 {
            opacity: .7;
          }
        }
      }
    }
  }

  @keyframes slide {
    0% { left: 100% }
    100% { left: 0; }
  }
}
