<div class="head">
  <div>
    <span class="material-symbols-outlined">{{ icon() }}</span>
    <div class="centered title">{{ title() }}</div>
  </div>
  <div class="actionButtons">
    @if (actionButtons(); as actionButtons) {
      @for (button of actionButtons; track button.name) {
        <span class="material-symbols-outlined"
              [title]="button.title"
              [ngClass]="{'enabled': !button.disabled, 'active': button.active}"
              (click)="onActionButtonClicked(button)">{{ button.icon }}</span>
      }

      @if (viewState() === PanelViewState.NORMAL || viewState() === PanelViewState.MAXIMIZED) {
        <span class="material-symbols-outlined"
              title="Minimize the panel"
              (click)="onSetViewState(PanelViewState.MINIMIZED)">minimize</span>
      }

      @if (viewState() === PanelViewState.MINIMIZED || viewState() === PanelViewState.NORMAL) {
        <span class="material-symbols-outlined"
              title="Maximize the panel"
              (click)="onSetViewState(PanelViewState.MAXIMIZED)">fullscreen</span>
      }

      @if (viewState() === PanelViewState.MINIMIZED || viewState() === PanelViewState.MAXIMIZED) {
        <span class="material-symbols-outlined"
              title="Restore the panel"
              (click)="onSetViewState(PanelViewState.NORMAL)">fullscreen_exit</span>
      }
    }
  </div>
</div>
<div class="body">
  @if (state() === MiniPanelState.LOADING) {
    <div class="loading">
      <div class="top">
        <div>
          <st-loading></st-loading>
          <h1 [innerHTML]="loadingMessage()"></h1>
        </div>
      </div>
      <div class="bottom">
        <a href="https://godbolt.org/" target="_blank" rel="noopener" class="ce-logo">
          <img ngSrc="./assets/images/playground/compiler-explorer.svg" alt="Compiler Explorer Logo" height="326"
               width="876" />
        </a>
      </div>
    </div>
  } @else if (state() === MiniPanelState.EMPTY) {
    <div class="empty">
      <div>
        <span class="material-symbols-outlined">coffee</span>
        <h1>Ready</h1>
      </div>
    </div>
  } @else {
    <ng-content></ng-content>
  }
</div>
