<div class="head">
  <img ngSrc="./assets/images/playground/compiler-explorer.svg"
       alt="Compiler Explorer Logo"
       height="270"
       width="894"/>
</div>
<div class="info">
  <p>The SYCL.tech playground compiles and runs code using the amazing "Compiler Explorer", written by Matt
    Godbolt. Please click the button below to visit.</p>

  <a class="button centered" href="https://godbolt.org" target="_blank">
    <span class="material-symbols-outlined">link</span> Visit Compiler Explorer
  </a>
</div>
