:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media screen and (min-width: 800px) {
    width: 450px;
  }

  .head {
    padding: 4rem 0;
    background-color: #d1ffd1;
    color: var(--color-white);
    display: flex;
    justify-content: center;

    img {
      width: 250px;
      height: auto;
    }
  }

  .info {
    flex: 1;
    flex-basis: 40%;
    padding: 3rem;
    background-color: var(--popup-bg-color);
    backdrop-filter: blur(5px);

    p {
      margin: 0;
      font-size: 1.1rem;
    }

    .button {
      width: 100%;
      background-color: #006900;
      margin-top: 1rem;
    }
  }
}
