:host {
  display: flex;
  align-items: center;
  gap: .3rem;
  cursor: pointer;
  opacity: .6;
  transition: var(--transition-fast);

  &:hover {
    opacity: 1;
  }
}

div {
  display: flex;
  align-items: center;
  animation: fadeIn 1.5s;
}

span {
  font-size: 20px;
  vertical-align: middle;
  margin: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}