<!-- Section: oneAPI -->
<section id="oneapi">
  <div class="wrapper panel fancy faded-bg">
    <div>
      <header>
        <h1>oneAPI</h1>
        <h2>The latest Intel® oneAPI DPC++/C++ Compiler is the FIRST to fully support the SYCL* 2020 specification,
          giving developers confidence that their code is portable and reliably performant across the diversity of
          existing and future CPU, GPU, and AI accelerator architectures.</h2>
        <a class="button"
           href="https://www.intel.com/content/www/us/en/developer/tools/oneapi/overview.html"
           target="_blank"
           rel="noopener">
          <span class="material-symbols-outlined">slideshow</span>Visit oneAPI Intel Website
        </a>
      </header>
    </div>
    <div>
      <img ngSrc="./assets/images/ecosystem/implementations/oneapi/oneapi-logo.webp"
           alt="oneAPI Logo"
           class="panel-icon"
           height="406"
           width="385"/>
    </div>
    <div class="bg"></div>
  </div>
</section>

<!-- Section: AdaptiveCpp -->
<section id="adaptiveCpp">
  <div class="wrapper panel fancy">
    <div>
      <header>
        <h1>AdaptiveCpp</h1>
        <h2>AdaptiveCpp is the independent, community-driven modern platform for C++-based heterogeneous programming
          models targeting CPUs and GPUs from all major vendors. AdaptiveCpp lets applications adapt themselves to
          all the hardware found in the system.</h2>
        <a class="button"
           href="https://github.com/AdaptiveCpp/AdaptiveCpp"
           target="_blank"
           rel="noopener">
          <span class="material-symbols-outlined">slideshow</span>Visit AdaptiveCpp GitHub
        </a>
      </header>
    </div>
    <div>
      <img ngSrc="./assets/images/ecosystem/implementations/adaptivecpp/logo.webp"
           alt="oneAPI Logo"
           class="panel-icon"
           height="249"
           width="1171"/>
    </div>
  </div>
</section>

<!-- Section: triSYCL -->
<section id="triSYCL">
  <div class="wrapper panel fancy">
    <div>
      <header>
        <h1>triSYCL</h1>
        <h2>triSYCL is a research project to experiment with the specification of the SYCL standard and to give
          feedback to the Khronos Group SYCL_committee and also to the ISO C++ committee.</h2>
        <a class="button"
           href="https://github.com/triSYCL/sycl"
           target="_blank"
           rel="noopener">
          <span class="material-symbols-outlined">slideshow</span>Visit triSYCL GitHub
        </a>
      </header>
    </div>
    <div>
      <span class="material-symbols-outlined panel-icon">speed</span>
    </div>
  </div>
</section>

<!-- Section: NeoSYCL -->
<section id="neoSYCL">
  <div class="wrapper panel fancy">
    <div>
      <header>
        <h1>neoSYCL</h1>
        <h2>A SYCL implementation for SX-Aurora TSUBASA, aiming to improve productivity and achieve comparable
          performance with native implementations.</h2>
        <a class="button"
           href="https://github.com/Tohoku-University-Takizawa-Lab/neoSYCL"
           target="_blank"
           rel="noopener">
          <span class="material-symbols-outlined">slideshow</span>Visit neoSYCL GitHub
        </a>
      </header>
    </div>
    <div>
      <span class="material-symbols-outlined panel-icon">speed</span>
    </div>
  </div>
</section>

<!-- Section: Create -->
<section id="create">
  <div class="wrapper panel fancy">
    <div>
      <header>
        <h1>Create Your Own Implementation</h1>
        <h2>The the oneAPI Construction Kit, provided by Codeplay&reg;, to add DPC++/SYCL support to your own
          hardware.</h2>
        <a class="button"
           href="https://developer.codeplay.com/products/oneapi/construction-kit"
           target="_blank"
           rel="noopener">
          <span class="material-symbols-outlined">slideshow</span>Visit Codeplay Developer Portal
        </a>
      </header>
    </div>
    <div>
      <img ngSrc="./assets/images/ecosystem/implementations/oneapi-construction/chip-stack.webp"
           alt="Chip Stack"
           height="238"
           width="473"/>
    </div>
  </div>
</section>
