:host {
  @media screen and (min-width: 805px) {
    display: flex;
    flex-direction: row;
    max-width: 1000px !important;
    min-height: 688px;
    width: 100% !important;
  }

  header {
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: flex-start;
    background-color: var(--color-blue);

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-weight: normal;
      opacity: .8;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: .3rem;
      margin-top: 2rem;
    }
  }

  article {
    overflow: auto;
    max-height: 600px;
    font-size: 1rem;
    max-width: 600px;

    ::ng-deep h1 {
      display: none;
    }
  }

  footer {
    st-copy-input {
      flex: 1;
    }

    a.button {
      width: auto;
      background: var(--color-orange) !important;
    }
  }
}