section {
  padding: 0;
}

st-filter-container {
  .results {
    &.grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      grid-row-gap: 1.5rem;
    }

    &.list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
