:host {
  header {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 0;

    .title {
      padding: 3rem;
      text-align: center;
    }

    .overview {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100%;
      padding: 1rem 3rem;
      background-color: var(--popup-bg-color);
      color: var(--text-color);

      ol.details {
        list-style: none;
        border: rgba(0, 0, 0, .1) 1px solid;
        border-radius: 12px;
        overflow: hidden;
        padding: 0;

        li {
          display: grid;
          grid-template-columns: 50px 1fr;

          span {
            font-size: 30px !important;
            opacity: .6;
          }

          > div {
            display: flex;
            align-items: center;
            padding: 1rem;
          }

          > div:nth-of-type(1) {
            background-color: var(--color-orange);
            color: var(--color-white);
            justify-content: center;
          }

          &:not(:last-of-type) {
            border-bottom: rgba(0, 0, 0, .1) 1px solid;
          }
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      a.button {
        background-color: var(--color-blue);
        text-align: center;
        flex-basis: 50%;
        margin-top: auto;
      }
    }
  }

  article {
    background-color: var(--color-hint-second);
    box-shadow: inset 3px 0 15px 0 rgba(0, 0, 0, .1);
    font-size: 1rem;

    .content {
      overflow: scroll;
      height: 100%;
    }
  }
}
